{% extends 'layout.html' %}
{% block body %}
<h3>Add Product</h3>

<form method="post" enctype="multipart/form-data" class="col-md-6">
<label>Name</label>
<input type="text" name="name" class="form-control">


<label>Description</label>
<textarea name="desc" class="form-control"></textarea>

<label>Price</label>
<input type="number" name="price" class="form-control">

<label>Rating</label>
<input type="text" name="rating" class="form-control">

<label>Stock</label>
<input type="number" name="stock" class="form-control">
<label>Product Image</label>
<input type="file" name="image" class="form-control" required>

<button class="btn btn-success mt-3">Add</button>
</form>
{% endblock %}
